body{
    margin: 0;
    padding: 0;
}
.home{
    margin: 0;
    padding: 0;
    position: relative;
    
    .video{
        height: 100vh;
        width: 100vw;
        position: absolute;
        object-fit: cover;
    }

    .main{
        position: relative;
        flex: 1 1 0%;
        padding-left: 15%;
        padding-right: 15%;
        box-sizing: border-box;
        padding-top: 72px;
      
    }
    Footer{
        position: relative;
        padding-left: 15%;
        padding-right: 15%;
    }
}