body {
  margin: 0;
  padding: 0;
}
.home {
  
  position: relative;
  height: 100%;
  width: 100%;
  .video {
    
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }

  .main {
    position: relative;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
   
}

@media screen and (max-width: 720px) {
    .main{
        display: flex;
        align-items: center;
        flex-direction: column;
        

    }
}
Footer {
    position: relative;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 2.5%;
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px); // Optional: Slide up animation
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
