.main-blog {
  flex: 1 1 0%;
  padding-left: 15%;
  padding-right: 15%;
  box-sizing: border-box;
  padding-top: 72px;
  opacity: 0;
  animation: fadeInAnimation 1s ease-in forwards;
}
.info-blog {
  padding-top: 10px;
  min-height: 820px;
  width: 100%;
  flex: 1 1 0%;
  .box-info {
    height: 100%;
    margin-bottom: 32px;
    width: 100%;

   
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-20px); // Optional: Slide up animation
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
