.video-blog {
    display: initial;
    width: 100%;
    height: 50%;
    max-height: 50%;
    transform: initial;
    object-fit: cover;
    border-top-left-radius: 167px;
    border-top-right-radius: 167px;
    user-select: none;
    pointer-events: none;
  }