.Fearured{
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: end;
        justify-content: flex-end;
        box-sizing: border-box;
        max-height: 100vh;
        overflow: hidden;
        width: 100%;
        padding-bottom: 64px;
        border-bottom:1px solid #050001;
        .info{
            text-align: center;
            margin-top: 526px;
        }
        h1{
            color: rgb(111, 43, 43);
            padding-bottom: 20px;
            text-shadow: #faf4f5;
            
        }

        .linkButton{
            text-decoration: none;
            background-color: rgb(111, 43, 43);
            padding: 15px;
            color: #fbfbfb;
            border-radius: 20px;
        }
       

}

